body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #97b735;
    color: white;
}

nav ul {
    list-style: none;
    padding: 10px;
    margin: 0px;
}

nav ul li {
    display: inline;
    margin: 110px;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav button {
    padding: 5px;
    color: #97b735;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
}

#foto1 {
    width: 100%;
}

#picture {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    background-color: #f4f4f4;
}

article {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    background-color: #54504f;
    color: white;
}

article h2 {
    color: #97b735;
    margin-bottom: 8px;
}

article p a {
    color: #97b735;
    text-decoration: none;
}

.column {
    padding: 30px;
}

#autor {
    margin-top: 90px;
    background-image: url('/foto/avatar.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100px;
    padding-left: 105px;
}

footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    background-color: #97b735;
    color: white;
    padding: 5px 100px 30px 100px;
}

footer div {
    padding: 10px;
}

footer h4 {
    font-size: 15px;
    margin: 10px 0 0 0;
}

footer h4 i {
    font-size: 25px;
}

footer p {
    margin: 5px;
    font-size: 10px;
}